@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: rgb(2, 0, 36);
    background: -moz-linear-gradient(
        90deg,
        #512da8 0%,
        #673ab7 35%,
        #673ab7 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        #512da8 0%,
        #673ab7 35%,
        #673ab7 100%
    );
    background: linear-gradient(90deg, #512da8 0%, #673ab7 35%, #673ab7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
